@charset "utf-8";

.articleContent {
  margin-top: 60px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articleHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.articleImg {
  border-top: 2px #ccc solid;
  padding-top: 10px;
}

.articleImg img {
  width: 880px;
  max-height: 800px;
  object-fit: cover;
}

.articleTextContent {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 880px;
  text-align: justify;
}

.articleDateInfo {
  font-size: 14px;
}

.articleFooter {
  display: flex;
  border-bottom: 2px #ccc solid;
  width: 880px;
}

.commentsList::-webkit-scrollbar {
  display: none;
}

.CommentView {
  max-width: 880px;
}

.commentInputField {
  width: 500px;
  height: 250px;
  font-size: 18px;
  padding: 0 10px;
  resize: none;
}

.pageTagsList {
  display: flex;
  flex-wrap: wrap;
  width: 880px;
  margin-bottom: 10px;
}
